<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<p class="red-text" th:text="${xdTitle}">xdazo</p>
<p class="blue-text" th:text="${lolTitle}">lolazo</p>

<p class="red-text" th:text="${service}">service without DI</p>
<p class="blue-text" th:text="${diService}">service with DI</p>

<p class="blue-text" th:text="${diIService}">service with DI</p>
<img th:src="@{/images/wow.png}"/>
</body>
</html>